.nav{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(99, 97, 97);
    border-radius: 1pc;
    color: white;
    font-family: "Roboto";
    padding: 10px;
}
.nav-links{
    display: flex;
    font-size: x-large;
    align-items: center;
}
.nav-title, .active{
    font-weight: bold;
}
a{
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
    margin: 20px 10px;
    color: white;
}
.btn{
    box-shadow: 4px 4px 1px 1px black;
    background-color: rgb(71, 158, 158);
    border-color: black;
    width: 150px;
    height: 40px;
    align-items: center;
    font-size: large;
    color: white;
    font-weight: bold;
}