.contenedor1{
    width: 670px;
    margin: 0px auto;
}
.titulo {
    font: 1em sans-serif;
    color: darkslategray;
    background-color: bisque;
    width: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contenedor2 {
    display: flex;
    align-items: top;
}
.imagen, img {
    height: 200px;
    width: 200px;
}
.bloques {
    height: 850px;
    width: 750px;
    background-color: bisque;
    padding: 20px;
}
.bloque1, .bloque2, .bloque3{
    display: flex;
    align-items: top;
    width: 680px;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
}
.bloque1 {
    background-color: lightseagreen;
}
.bloque2 {
    background-color: lightpink;
    margin-top: 20px;
}.bloque3 {
    background-color: antiquewhite;
    margin-top: 20px;
}